certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
dill==0.3.2
h5py==2.10.0
imageio==2.9.0
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.1
multiprocess==0.70.10
networkx==2.5
numpy==1.19.1
pathos==0.2.6
Pillow==7.2.0
pkg-resources==0.0.0
pox==0.2.8
ppft==1.6.6.2
pymia==0.3.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
SimpleITK==1.2.4
six==1.15.0
threadpoolctl==2.1.0
tifffile==2020.9.3