pathos==0.2.8
pymia==0.3.1
matplotlib==3.4.2
numpy==1.21.1
Pillow==8.3.2
scikit_learn==0.24.2
SimpleITK==2.1.0
Sphinx>=3.2.1
sphinx_rtd_theme>=0.5.0
furo>=2021.7.31b41
sphinx-inline-tabs>=2021.3.28b7
sphinx-copybutton==0.4.0